main {
font-family:'SUIT', sans-serif;
 text-align: center;
}

@font-face {
    font-family: 'SUIT';
    src: url('/font/SUIT-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }