.intro {
 text-align: center;
 position: relative;
}
.intro::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 120px;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    background: url(../images/동숲\ 로고.webp) no-repeat 100% 100% / cover;
}
.main_bg {
    width: 100%;
}
.start_btn {
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translateX(-50%);
}
.qna {
    display: none;
    height: 484px;
    background: url(/images/4d5f51e617292bf3dec63e79c7a3392f.jpg) no-repeat 100% 100%;
    padding: 40px 20px;
}
.qna_wrap {
    padding-top: 70px;
}
.qArea {
    font-size: 24px;
    color: #303030;
}
.aArea {
    padding-top: 60px;
    
}

.answerList {
    border: none;
    padding: 15px 20px;
    background: linear-gradient(to bottom,  #cdeb8e 0%,#b6db65 100%);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #2c2c2c;
}
.answerList + .answerList {
    margin-top: 15px;
}

.status {
    height: 20px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
}
.status_bar {
    width: 0;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.result {
    display: none;
    padding: 50px 20px;
}